<mat-toolbar >
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/">
            Proyecto Parcial 2
        </span>
    <span class="spacer"></span>
    <button mat-button routerLink="/productos">Lista de productos</button>

  </mat-toolbar>
  
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item href="#" routerLink="/productos">Lista de productos</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div >
        <router-outlet></router-outlet>
      </div>
        </mat-sidenav-content>
  </mat-sidenav-container>

